[user]
	name = Lukas Grassauer
	email = lukas@grassauer.eu
[push]
	default = simple
[alias]
	fresh = "!git pull --stat --ff-only || git pull --stat --rebase"
	last = log -1 HEAD
    	co = checkout
	st = status
[merge]
	tool = meld
[core]
	editor = "vim -c 'startinsert|norm! ggA'"
	excludesfile = /home/lukas/.gitignore_global
	pager = "less -+FX"
[rebase]
	autoStash = true
