[user]
	name = Lukas Grassauer
	email = lukas@grassauer.eu
[push]
	default = simple
[alias]
	update = fetch
	upgrade = pull --rebase
	fresh = "!git pull --stat --ff-only || git pull --stat --rebase"
	new  = "!git fetch && git pull --rebase"
	started = "!git init && git commit --allow-empty -S -m 'root commit' && git tag -s -m 'root tag' 0.0.0"
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	last = log -1 HEAD
	snapshot = "!git add -A && git commit -m \"Snapshot $(date --iso-8601=seconds)\" && git push --follow-tags"
	rekt = reset
    co = checkout
	cm = commit
	ud = fetch
	ug = pull --rebase
	br = branch
	st = status
[merge]
	tool = meld
[core]
	excludesfile = /home/lukas/.gitignore_global
[rebase]
	autoStash = true
