[submodule "emacs/.emacs.d/opt/sensible-defaults"]
	path = emacs/.emacs.d/opt/sensible-defaults
	url = https://github.com/hrs/sensible-defaults.el
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/plugins/zsh-history-substring-search"]
	path = zsh/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.zsh/plugins/zsh-git-prompt"]
	path = zsh/.zsh/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "zsh/.zsh/themes/zsh-prompt"]
	path = zsh/.zsh/themes/zsh-prompt
	url = https://gitlab.com/Entze/zsh-prompt.git
[submodule "zsh/.zplugin/bin"]
	path = zsh/.zplugin/bin
	url = https://github.com/zdharma/zplugin
