emacs/.emacs.d/.cache/
emacs/.emacs.d/.lsp-session-*
emacs/.emacs.d/bookmarks
emacs/.emacs.d/custom.el
emacs/.emacs.d/elpa/
emacs/.emacs.d/network-security.data
emacs/.emacs.d/session.*
ssh/.ssh/id__rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
vim/.vim/.netrwhist
zsh/.zplugin/completions/
zsh/.zplugin/plugins/
zsh/.zplugin/snippets/
