[submodule "emacs/.emacs.d/opt/sensible-defaults"]
	path = emacs/.emacs.d/opt/sensible-defaults
	url = https://github.com/hrs/sensible-defaults.el
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://gitlab.com/Entze/oh-my-zsh.git
[submodule "emacs/.emacs.d/opt/org-mode"]
	path = emacs/.emacs.d/opt/org-mode
	url = git://orgmode.org/org-mode.git
