ssh/.ssh/id__rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
vim/.vim/.netrwhist
emacs/.emacs.d/elpa/
emacs/.emacs.d/network-security.data
zsh/.zplugin/completions/
zsh/.zplugin/plugins/
zsh/.zplugin/snippets/

