#!/usr/bin/env bash

set -exuo pipefail

{{- if (and (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.versionCodename "trixie")) }}

sync_repository() {

	DIR="$1"
	REMOTE="$2"
	BRANCH="$3"

	flox activate -d "${DIR}" -- git -C "${DIR}" pull "${REMOTE}" "${BRANCH}" --ff-only --autostash --stat || flox activate -d "${DIR}" -- git -C "${DIR}" pull "${REMOTE}" "${BRANCH}" --rebase --autostash --stat
	flox activate -d "${DIR}" -- git -C "${DIR}" push "${REMOTE}" "${BRANCH}"

}

if ping -c 1 "srv-hpelitebook820g3-1-host.gumiho-duck.ts.net"; then

	sync_repository "${ALM_DIR}" "srv-hpelitebook820g3-1-host.tailscale" "main"
	sync_repository "${PKD_DIR}" "srv-hpelitebook820g3-1-host.tailscale" "main"
	sync_repository "${TTL_DIR}" "srv-hpelitebook820g3-1-host.tailscale" "main"

fi


if ping -c 1 "backup.entze.dev"; then

	sync_repository "${ALM_DIR}" "origin" "main"
	sync_repository "${PKD_DIR}" "origin" "main"
	sync_repository "${TTL_DIR}" "origin" "main"

fi

sudo apt update
sudo apt upgrade
deb-get update
deb-get upgrade
mise upgrade --bump

{{- end }}
