#!/usr/bin/env bash

set -exo pipefail

DATA="${XDG_DATA_HOME:-${HOME}/.local/share}"
_DIRECTORY="${DATA}/catppuccin/delta/"

mkdir --parents "${DATA}/catppuccin/"

if ! [ -d "${_DIRECTORY}" ]; then
  git clone --depth=1 "git@github.com:catppuccin/delta.git" "${_DIRECTORY}"
fi

git -C "${_DIRECTORY}" pull --depth=1 --ff-only --stat
