#!/usr/bin/env bash

set -exuo pipefail

DATA="${XDG_DATA_HOME:-$HOME/.local/share}"

if command -v "bat" 2>&1 >/dev/null; then

  BAT_CONFIG_DIR="$(bat --config-dir)"
  
{{ if eq .chezmoi.osRelease.id "debian" -}}
{{- if eq .chezmoi.osRelease.versionCodename "trixie" -}}

else

  BAT_CONFIG_DIR="$(batcat --config-dir)"

{{- end -}}
{{- end }}
fi

_DIRECTORY="${DATA}/catppuccin/bat/"

mkdir --parents "${DATA}/catppuccin/"
mkdir --parents "${BAT_CONFIG_DIR}/themes/"

if ! [ -d "${DATA}/catppuccin/bat/" ]; then
  git clone --depth=1 "git@github.com:catppuccin/bat.git" "${_DIRECTORY}"
fi

git -C "${_DIRECTORY}" pull --ff-only --depth=1 --stat

ln --force --symbolic "${_DIRECTORY}/themes/Catppuccin Frappe.tmTheme" "${BAT_CONFIG_DIR}/themes/."
ln --force --symbolic "${_DIRECTORY}/themes/Catppuccin Latte.tmTheme" "${BAT_CONFIG_DIR}/themes/."
ln --force --symbolic "${_DIRECTORY}/themes/Catppuccin Macchiato.tmTheme" "${BAT_CONFIG_DIR}/themes/."
ln --force --symbolic "${_DIRECTORY}/themes/Catppuccin Mocha.tmTheme" "${BAT_CONFIG_DIR}/themes/."


if command -v "bat" 2>&1 >/dev/null; then

  bat cache --build

{{ if eq .chezmoi.osRelease.id "debian" -}}
{{- if eq .chezmoi.osRelease.versionCodename "trixie" -}}

else

  batcat cache --build

{{- end -}}
{{- end }}
fi
