{{ if (and (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.versionCodename "trixie")) -}}
#!/usr/bin/env bash

sudo apt-get update --yes

{{- range .packages -}}

{{- if (and (hasKey . "debian") (hasKey .debian "trixie")) }}

if ! command -v {{ .debian.trixie.command | quote }} 2>&1 >/dev/null; then

  {{- if hasKey .debian.trixie "before" -}}
  {{- range .debian.trixie.before }}
  {{ . }}
  {{ end -}}
  {{- end }}

  sudo apt-get install --yes {{ .debian.trixie.package | quote }}

  {{ if hasKey .debian.trixie "after" -}}
  {{- range .debian.trixie.after }}
  {{ . }}
  {{ end -}}
  {{- end -}}

fi

{{- else if (hasKey . "mise") }}

if ! command -v {{ .mise.command | quote }} 2>&1 >/dev/null; then

  {{ if hasKey .mise "before" -}}
  {{- range .mise.before }}
  {{ . }}
  {{ end -}}
  {{- end }}

  mise use --global --yes {{ .mise.package | quote }}

  {{ if hasKey .mise "after" -}}
  {{ range .mise.after }}
  {{ . }}
  {{ end -}}
  {{- end -}}

fi

{{- end -}}
{{- end -}}
{{- end }}
